<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jawad Tanana</title>
    <link rel="stylesheet" type="text/css" href="design.css" media=”screen” />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<!-- end custom head snippets -->
