#myProgress {
  border-radius: 10px;
  height: 20px;
  background-color: #ddd;
}

.myBar {
  width: 1.5%;
  border-radius: 50px;
  height: 20px;
  background-color: #78aa04;
}

.myBar:hover {
  background-color: #4CAF50;
}

.center {
  margin-left: 10%;
  margin-right: 10%;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button1:hover:before {
    content: "Click the bar now! ";
    color: white;
}

/* Center the progress bar */
.center2 {
    width: 50%; /* Width of the outside container */
    margin: 0 auto; /* Center the container horizontally */
}

h1 {
    text-align: center; /* Center the text */
    background-color: #ffffff;
    font-family: 'Abril Fatface', cursive;
}

body {
    background-color: #57505c;
}

a {
  text-decoration: none; /* remove underline from links */
  color: rgb(198, 198, 252); /* set link text color to blue */
  font-size: 20px; /* set font size to 20px */
  font-weight: bold; /* make link text bold */
  margin-bottom: 10px; /* add a margin of 10px at the bottom of each link */
}

a:hover {
  color: red; /* change link text color to red when hovered over */
  cursor: pointer; /* change cursor to pointer when hovered over */
}

.button {
  background-color: #4CAF50; /* set button background color */
  color: white; /* set button text color */
  padding: 15px 32px; /* set button padding */
  text-align: center; /* center button text */
  text-decoration: none; /* remove underline from button text */
  display: inline-block; /* display button as an inline block */
  font-size: 16px; /* set button text font size */
  margin: 4px 2px; /* add margin around button */
  cursor: pointer; /* change cursor to pointer when hovered over */
}

.button1 {border-radius: 12px;}

a, button {
  text-align: center; /* center link and button text */
  display: block; /* display link and button as block elements */
  margin: 0 auto; /* center link and button horizontally */
}
